@model IEnumerable<RailwayReservation.Models.Route>

@{
    ViewBag.Title = " | CreateRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="col-md-5 mx-auto">
    <div class="my-5" id="divAjax1">
        @using (Ajax.BeginForm("AjaxCreateRoute", "Route", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "divAjax",
            LoadingElementId = "LoadingImage",
            LoadingElementDuration = 2000,
            Confirm = "Are You Sure to Save this Data?",
            OnComplete = "Clear",
        }
        ))
        {
            @Html.AntiForgeryToken()
            <h2 class="mb-3">Add Route</h2>
            <h6>Page Loding @@ : @DateTime.Now.ToString()</h6>
            <div class="form-group mb-3">
                @Html.Label("Route Name", new { @class = "form-label" })
                @Html.TextBox("RouteName", null, new { @class = "form-control" })

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info btnRouteSave" />
            </div>
        }
    </div>
    <div class="col-md-12" id="LoadingImage" style="display:none;">
        <img src="~/Images/AppImage/Rhombus.gif" width="100" height="100" />
    </div>
    <div class="my-5" id="divAjax">
        @{Html.RenderPartial("_RouteDetails", Model);}
    </div>
</div>
<script>
    function Clear() {
        $(this).closest('form').find("input[type=text], textarea").val("");
    }
</script>
